<div class="comments-to-photo">
  <!-- a word of memory from the keeper -->
  <div class="word-memory">
    <div class="word-memory-header">
      <div class="img-wrap">
        <img width="40" height="40" src="static/img/memorials/no-photo.jpg" alt="foto">
      </div>
      <div class="user-data">
        <div class="name h6">Прізвище Ім'я По-батькові</div>
        <div class="date-time">23.11.2021 14:15</div>
      </div>
    </div>
    <div class="text">
      <p>Ти був найкращою людиною. Найлюдянішим із усіх. І ніхто ніколи не переконає мене, що це не так.</p>
    </div>
  </div>

  <div class="word-memory-comment">
    <div class="word-memory-img">
      <div class="img-wrap">
        <img width="40" height="40" src="static/img/memorials/no-photo.jpg" alt="foto">
      </div>
    </div>
    <div class="comment-wrap">
      <div class="comment">
        <div class="name">Прізвище Ім'я По-батькові</div>
        <div class="comment-text">
          <p>Ти був найкращою людиною. Найлюдянішим із усіх. І ніхто ніколи не переконає мене, що це не так.</p>
        </div>
      </div>
      <div class="date-time">23.11.2021 14:15</div>
    </div>
  </div>

  <div class="word-memory-comment">
    <div class="word-memory-img">
      <div class="img-wrap">
        <img width="40" height="40" src="static/img/memorials/no-photo.jpg" alt="foto">
      </div>
    </div>
    <div class="comment-wrap">
      <div class="comment">
        <div class="name">Прізвище Ім'я По-батькові</div>
        <div class="comment-text">
          <p>Ти був найкращою людиною. Найлюдянішим із усіх. І ніхто ніколи не переконає мене, що це не так.</p>
        </div>
      </div>
      <div class="date-time">23.11.2021 14:15</div>
    </div>
  </div>

  <form id="form_to_comments_ctf_0" class="site-form form-comments-to-foto">
    <label class="h6">Прокоментувати</label>
    <div class="form-group">
      <textarea hidden name="id_inp_ctf_0" id="id_inp_ctf_0" placeholder="Введіть текст"></textarea>
      <div contenteditable="true" data-input-id="id_inp_ctf_0" data-placeholder="Введіть текст"></div>
      <button type="submit">
        <svg width="29" height="26" viewBox="0 0 29 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M28.3866 12.9991C28.3867 12.8166 28.3335 12.638 28.2335 12.4852C28.1335 12.3325 27.9911 12.2123 27.8238 12.1393L1.97019 0.869791C1.81097 0.800379 1.63559 0.776566 1.46363 0.801008C1.29166 0.82545 1.12986 0.897185 0.996288 1.00821C0.862711 1.11924 0.762605 1.26519 0.707136 1.42979C0.651668 1.59439 0.643018 1.77117 0.682151 1.94039L2.67089 10.5583C2.70692 10.7147 2.78253 10.8593 2.89048 10.9782C2.99843 11.0971 3.1351 11.1862 3.28739 11.2371L8.57479 12.9991L3.2874 14.7611C3.1351 14.812 2.99843 14.9012 2.89048 15.02C2.78253 15.1389 2.70692 15.2835 2.67089 15.4399L0.68215 24.0578C0.646396 24.2127 0.650636 24.3742 0.69447 24.5271C0.738307 24.6799 0.820297 24.8191 0.932731 24.9315L0.993718 24.9925C1.12741 25.1036 1.28933 25.1753 1.46141 25.1996C1.63349 25.224 1.80895 25.2 1.9682 25.1304L27.8218 13.8609C27.9898 13.7881 28.1328 13.6677 28.2332 13.5145C28.3336 13.3614 28.3869 13.1822 28.3866 12.9991Z" fill="#FAD101"/>
        </svg>
      </button>
    </div>
  </form>

</div>